#container
{
    display: flex;
    gap: 20px;
}

#game-grid 
{
	display: grid;
	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(20, 30px);
}

#game-grid2
{
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
}

#hold-grid
{
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
}

.cell 
{
	width: 30px;
	height: 30px;
	border: 1px solid gray;
}